In [ ]:
import pandas as pd
import numpy as np

In [ ]:
from google.colab import drive  
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
d=pd.read_csv("/content/drive/MyDrive/datasets/PS_20174392719_1491204439457_log.csv.zip")

In [ ]:
d

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,PAYMENT,9839.64,C1231006815,170136.00,160296.36,M1979787155,0.00,0.00,0,0
1,1,PAYMENT,1864.28,C1666544295,21249.00,19384.72,M2044282225,0.00,0.00,0,0
2,1,TRANSFER,181.00,C1305486145,181.00,0.00,C553264065,0.00,0.00,1,0
3,1,CASH_OUT,181.00,C840083671,181.00,0.00,C38997010,21182.00,0.00,1,0
4,1,PAYMENT,11668.14,C2048537720,41554.00,29885.86,M1230701703,0.00,0.00,0,0
...,...,...,...,...,...,...,...,...,...,...,...
6362615,743,CASH_OUT,339682.13,C786484425,339682.13,0.00,C776919290,0.00,339682.13,1,0
6362616,743,TRANSFER,6311409.28,C1529008245,6311409.28,0.00,C1881841831,0.00,0.00,1,0
6362617,743,CASH_OUT,6311409.28,C1162922333,6311409.28,0.00,C1365125890,68488.84,6379898.11,1,0
6362618,743,TRANSFER,850002.52,C1685995037,850002.52,0.00,C2080388513,0.00,0.00,1,0
6362619,743,CASH_OUT,850002.52,C1280323807,850002.52,0.00,C873221189,6510099.11,7360101.63,1,0

In [ ]:
print(d.type.value_counts())

CASH_OUT    2237500
PAYMENT     2151495
CASH_IN     1399284
TRANSFER     532909
DEBIT         41432
Name: type, dtype: int64

In [ ]:
type = d["type"].value_counts()
type_ = type.index
quantity = type.values

import plotly.express as px
figure = px.pie(d, 
             values=quantity, 
             names=type_,
             title="Distribution of paymemt type")
figure.show()

In [ ]:
print(d.isFraud.value_counts())

0    6354407
1       8213
Name: isFraud, dtype: int64

In [ ]:
x=d.drop(columns=['isFlaggedFraud'])

In [ ]:
#converting float to integer as fitting cannot convert string to float
x["type"] = x["type"].map({"CASH_OUT": 1, "PAYMENT": 2, 
                                 "CASH_IN": 3, "TRANSFER": 4,
                                 "DEBIT": 5})

In [ ]:
from pandas.core.frame import DataFrame
x=DataFrame(x)

In [ ]:
x

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud
0,1,2,9839.64,C1231006815,170136.00,160296.36,M1979787155,0.00,0.00,0
1,1,2,1864.28,C1666544295,21249.00,19384.72,M2044282225,0.00,0.00,0
2,1,4,181.00,C1305486145,181.00,0.00,C553264065,0.00,0.00,1
3,1,1,181.00,C840083671,181.00,0.00,C38997010,21182.00,0.00,1
4,1,2,11668.14,C2048537720,41554.00,29885.86,M1230701703,0.00,0.00,0
...,...,...,...,...,...,...,...,...,...,...
6362615,743,1,339682.13,C786484425,339682.13,0.00,C776919290,0.00,339682.13,1
6362616,743,4,6311409.28,C1529008245,6311409.28,0.00,C1881841831,0.00,0.00,1
6362617,743,1,6311409.28,C1162922333,6311409.28,0.00,C1365125890,68488.84,6379898.11,1
6362618,743,4,850002.52,C1685995037,850002.52,0.00,C2080388513,0.00,0.00,1
6362619,743,1,850002.52,C1280323807,850002.52,0.00,C873221189,6510099.11,7360101.63,1

In [ ]:
#Deleting the isFraud since it is target and assigning it to y
x1=x.drop(columns=['isFraud'])
x1

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest
0,1,2,9839.64,C1231006815,170136.00,160296.36,M1979787155,0.00,0.00
1,1,2,1864.28,C1666544295,21249.00,19384.72,M2044282225,0.00,0.00
2,1,4,181.00,C1305486145,181.00,0.00,C553264065,0.00,0.00
3,1,1,181.00,C840083671,181.00,0.00,C38997010,21182.00,0.00
4,1,2,11668.14,C2048537720,41554.00,29885.86,M1230701703,0.00,0.00
...,...,...,...,...,...,...,...,...,...
6362615,743,1,339682.13,C786484425,339682.13,0.00,C776919290,0.00,339682.13
6362616,743,4,6311409.28,C1529008245,6311409.28,0.00,C1881841831,0.00,0.00
6362617,743,1,6311409.28,C1162922333,6311409.28,0.00,C1365125890,68488.84,6379898.11
6362618,743,4,850002.52,C1685995037,850002.52,0.00,C2080388513,0.00,0.00
6362619,743,1,850002.52,C1280323807,850002.52,0.00,C873221189,6510099.11,7360101.63

In [ ]:
x1.head()

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest
0,1,2,9839.64,C1231006815,170136.0,160296.36,M1979787155,0.0,0.0
1,1,2,1864.28,C1666544295,21249.0,19384.72,M2044282225,0.0,0.0
2,1,4,181.00,C1305486145,181.0,0.00,C553264065,0.0,0.0
3,1,1,181.00,C840083671,181.0,0.00,C38997010,21182.0,0.0
4,1,2,11668.14,C2048537720,41554.0,29885.86,M1230701703,0.0,0.0

In [ ]:
#Deleting nameDeat column since it doesnot involve in predicting the output/target value
from pandas.core.frame import DataFrame
x1=DataFrame(x1)
x2=x1.drop(columns=['nameDest'])
x2

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest
0,1,2,9839.64,C1231006815,170136.00,160296.36,0.00,0.00
1,1,2,1864.28,C1666544295,21249.00,19384.72,0.00,0.00
2,1,4,181.00,C1305486145,181.00,0.00,0.00,0.00
3,1,1,181.00,C840083671,181.00,0.00,21182.00,0.00
4,1,2,11668.14,C2048537720,41554.00,29885.86,0.00,0.00
...,...,...,...,...,...,...,...,...
6362615,743,1,339682.13,C786484425,339682.13,0.00,0.00,339682.13
6362616,743,4,6311409.28,C1529008245,6311409.28,0.00,0.00,0.00
6362617,743,1,6311409.28,C1162922333,6311409.28,0.00,68488.84,6379898.11
6362618,743,4,850002.52,C1685995037,850002.52,0.00,0.00,0.00
6362619,743,1,850002.52,C1280323807,850002.52,0.00,6510099.11,7360101.63

In [ ]:
# in similar to above removing nameOrig column also
from pandas.core.frame import DataFrame
x2=DataFrame(x2)
x3=x2.drop(columns=['nameOrig'])
x3

,step,type,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest
0,1,2,9839.64,170136.00,160296.36,0.00,0.00
1,1,2,1864.28,21249.00,19384.72,0.00,0.00
2,1,4,181.00,181.00,0.00,0.00,0.00
3,1,1,181.00,181.00,0.00,21182.00,0.00
4,1,2,11668.14,41554.00,29885.86,0.00,0.00
...,...,...,...,...,...,...,...
6362615,743,1,339682.13,339682.13,0.00,0.00,339682.13
6362616,743,4,6311409.28,6311409.28,0.00,0.00,0.00
6362617,743,1,6311409.28,6311409.28,0.00,68488.84,6379898.11
6362618,743,4,850002.52,850002.52,0.00,0.00,0.00
6362619,743,1,850002.52,850002.52,0.00,6510099.11,7360101.63

In [ ]:
y=d[['isFraud']]
y

         isFraud
0              0
1              0
2              1
3              1
4              0
...          ...
6362615        1
6362616        1
6362617        1
6362618        1
6362619        1

[6362620 rows x 1 columns]

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn import metrics
x_train,x_test,y_train,y_test=train_test_split(x3,y,test_size=0.2,random_state=0)
print("x train",x_train.shape)
print("x test",x_test.shape)
print("y train",y_train.shape)
print("y test",y_test.shape)

x train (5090096, 7)
x test (1272524, 7)
y train (5090096, 1)
y test (1272524, 1)

In [ ]:
y_test

         isFraud
4644207        0
3800666        0
4426240        0
5788765        0
2010701        0
...          ...
3408852        0
2756286        0
3167668        0
3337309        0
4993651        0

[1272524 rows x 1 columns]

In [ ]:
from sklearn.linear_model import LogisticRegression
model=LogisticRegression()
r=model.fit(x_train,y_train.values.ravel())
r

LogisticRegression()

In [ ]:
x_test

,step,type,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest
4644207,330,3,607193.64,15458649.28,16065842.92,3394537.70,2787344.06
3800666,281,2,3473.75,0.00,0.00,0.00,0.00
4426240,322,1,66170.69,32803.00,0.00,0.00,66170.69
5788765,401,4,335384.26,197.00,0.00,5311958.61,5647342.87
2010701,180,3,234392.25,20882.00,255274.25,0.00,0.00
...,...,...,...,...,...,...,...
3408852,255,1,78143.26,209723.00,131579.74,249352.15,327495.41
2756286,212,2,4972.33,0.00,0.00,0.00,0.00
3167668,238,1,13096.24,5638.00,0.00,0.00,13096.24
3337309,253,1,96814.92,0.00,0.00,1607329.85,1704144.76
4993651,352,4,802870.09,0.00,0.00,3347153.75,4150023.84

In [ ]:
model.predict(x_test[1272100:1272300])

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0])

In [ ]:
model.score(x_test,y_test)

0.9982593648528436

In [ ]:
print("ACCURACY :",model.score(x_test,y_test)*100,"%")

ACCURACY : 99.82593648528436 %